@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");

:root {
  --color-dark-blue: rgb(21, 41, 56);
  --color-hover-blue: rgb(99, 149, 184);
  --color-light-blue: rgb(113, 145, 165);

  --color-ll-blue: rgb(223, 231, 236);

  --color-orange: rgb(253, 162, 20);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
}
